@using Microsoft.AspNet.Identity
@using p00.Models;
@using WebApplication2.Models;

@if (Request.IsAuthenticated)
{
    var db = new ApplicationDbContext();
    var UserID = User.Identity.GetUserId();
    var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
    var CurrentTeacher = db.UserToTeachers.Where(a => a.UserID == UserID).SingleOrDefault();
    var currntcommiths = new CommHeeMembers();
    if (CurrentTeacher != null)
    {
        currntcommiths = db.CommHeeMembers.Where(a => a.Teacherid == CurrentTeacher.TeacherID).SingleOrDefault();
    }
    var c1 = new CommitHees();

    if (CurrentTeacher != null)
    {
        if (currntcommiths != null)
        {
            c1 = db.CommitHees.Where(a => a.id == currntcommiths.CommitHeesid).SingleOrDefault();

        }
    }
    if (User.IsInRole("admin"))
    {
        <li class="nav-item has-treeview ">
            <a href="" class="nav-link ">
                <i class="nav-icon fas fa-award"></i>
                <p>
                    <span>اللجان</span>
                    <i class="fas fa-angle-left right"></i>
                </p>

            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="~/CommitHees/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>قائمة اللجان</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/CommHeeMembers/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>اعضاء اللجان</p>
                    </a>
                </li>


            </ul>
        </li>
        <li class="nav-item has-treeview ">
            <a href="" class="nav-link ">
                <i class="nav-icon fas fa-file-archive"></i>
                <p>
                    <span>الاستمارة</span>
                    <i class="fas fa-angle-left right"></i>
                </p>

            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="~/topics/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>الفقرات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/sections/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>المحاور</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/evaluationforms/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>قائمة الاستمارات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Evaluationforms/LateForSubmission" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>الاساتذه المتاخرين</p>
                    </a>
                </li>

            </ul>

        </li>


        <li class="nav-item">
            <a href="~/Home/TeachersLists" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">قائمة الاساتذة</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Home/Assent" class="nav-link">
                <i class="nav-icon far fa-circle text-success"></i>
                <p>تقييم استاذ</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Teachers/listVacation/" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>تحديد اجازة</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Reports/ReportViewer.aspx" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>التقرير السنوي للتقييم</p>
            </a>
        </li>
       
        <li class="nav-item">
            <a href="~/EvaluationForms/DeleteTheTeacher" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p>حذف استاذ من الاستمارة </p>
            </a>
        </li>

    }
    if (CurrentTeacher != null)
    {
        <li class="nav-item has-treeview ">
            <a href="" class="nav-link ">
                <i class="nav-icon fas fa-award"></i>
                <p>
                    <span>الوثائق</span>
                    <i class="fas fa-angle-left right"></i>
                </p>

            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="~/Home/TopicView/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>رفع الوثائق</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/DocumentsofTopic/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>تعديل ورفع الوثائق</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/RefuseTheDocument/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>الوثائق المرفوضه</p>
                    </a>
                </li>


            </ul>
        </li>
        <li class="nav-item has-treeview ">
            <a href="" class="nav-link ">
                <i class="nav-icon fas fa-file-archive"></i>
                <p>
                    <span>تفاصيل الاستمارة</span>
                    <i class="fas fa-angle-left right"></i>
                </p>

            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="~/Home/DegreeOfAssessment/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>الاستماره الحاليه</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/ShowDegreesOfPreviousYears/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>تفاصيل جميع التقيمات</p>
                    </a>
                </li>

            </ul>
        </li>
    }
    if (currntcommiths != null && CurrentTeacher!=null)
    {
        <li class="nav-item">
            <a href="~/Home/Assent" class="nav-link">
                <i class="nav-icon far fa-circle text-success"></i>
                <p>تقييم استاذ</p>
            </a>
        </li>
    }
    if (c1.comitname == "رئيس القسم")
    {
        <li class="nav-item">
            <a href="~/Home/TeachersLists" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">قائمة الاساتذة</p>
            </a>
        </li>
    }
}